@using NameGenerator.Generators;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<i>Coucou je viens de modifier la page</i>

<p>Ruyntime compillation edit avec beaucoup de fautes de frappes.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>GamerTag</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0; i<200; i++)
        {
            RealNameGenerator Generator = new RealNameGenerator();
            string nom = Generator.Generate();
            GamerTagGenerator GeneratorGT = new GamerTagGenerator();
            string gamerTag = GeneratorGT.Generate();

            <tr>
                <td>@i</td>
                <td class="@(i== 3 ? "fw-bold" : "")">@nom</td>
                <td>@gamerTag</td>
                <td><button class="btn btn-primary">+</button></td>
            </tr>
        }
    </tbody>
</table>